chart {
	width: 500px;
	height: 500px;
	display: block;
	position: relative;
	margin: 10px 0;
}

svg {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.legend {
	height: 100%;
	width: 20%;
	margin: 0;
	padding: 0;
}

#first {
	width: 700px;
}

.axis path {
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}
.axis  text {
	font-family: Lato;
	font-size: 13px;
}

.x text {
	width: 10px;
	white-space: normal;
}

#info {
	fill: #aaa;
	color: red;
	margin: 0 auto;
	font-size: 16px;
}

.serie {
	padding: 5px;
	margin-bottom: 3px;
}

.serie_color {
	display: inline-block;
}

.serie_color~div {
	display: inline-block;
	margin-left: 5px;

}

.tip {
	width: 150px;
	height: 50px;
	background-color: black;
	position: absolute;
	visibility: hidden;
	color: white;
	padding: 5px;
	text-align: center;
	top: 0;
	margin: -75px -80px;
}

.tip::after {
	content: '';
	top: 60px;
	left: 75px;
	position: absolute;
	visibility: inherit;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
}

.vis {
	visibility: visible;
}

.slice text {
	font-size: 16pt;
    font-family: Arial;
}