@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?j0t8tn');
	src:url('../fonts/icomoon.eot?#iefixj0t8tn') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?j0t8tn') format('truetype'),
		url('../fonts/icomoon.woff?j0t8tn') format('woff'),
		url('../fonts/icomoon.svg?j0t8tn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	height: 100%;
	min-height: 400px;
}

body {
	min-height: 100%;
	height: 100%;
	position: relative;
	background-color: #333;
	margin: 0;
	min-width: 350px;
}

header {
	height: 50px;
	width: 100%;
	background-color: #555;
	box-sizing: border-box;
	position: relative;
	white-space: nowrap;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 3px;
	width: 100%;
	height: 30px;
	background-color: #555;
	box-sizing: border-box;
}

#logo {
	position: absolute;
	height: 100%;
}

#logo img {
	height: 100%;
}

#tooltip {
	height: 100%;
	text-align: center;
	overflow: hidden;
}

#search {
	margin: 0 auto;
	width: 40%;
	height: 100%;
	text-align: center;
}

#search input {
	height: 30px;
	width: 200px;
	box-sizing: border-box;
	font-size: 20px;
	font-style: italic; 
	padding: 2px 40px 2px 10px;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid #222;
	color: #ccc;
	margin-top: 10px;
}

#search input:focus {
	border: 0;
	color: #eeeeee;
}

label {
	position: relative;
	opacity: .3;
	cursor: pointer;
}

label:hover {
	opacity: .7;
}

label::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -30px;
	width: 18px;
	height: 18px;
	background-color: transparent;
	box-sizing: border-box;
	border: 4px solid #222;
	border-radius: 13px;
}

label::after {
	content: "";
	position: absolute;
	top: 12px;
	left: -17px;
	width: 10px;
	height: 4px;
	background-color: #222;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
}

#main {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 50px;
	bottom: 30px;
	padding: 5px;
	overflow: hidden;
	font-size: 0;
	white-space: nowrap;
}

#videos {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	white-space: nowrap;
	cursor: -webkit-grab;
}

#videos:active {
	cursor: -webkit-grabbing;
}

.video {
	height: 100%;
	background-color: white;
	float: left;
	padding: 5px;
	margin: 0;
	border: 2px solid #333;
	box-sizing: border-box;
	white-space: normal;
	overflow: auto;
}

.video::-webkit-scrollbar {
	width: 0;
}

.videos_wraper {
	height: 100%;
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	padding: 0;
	font-size: 10px;
	width: 100%;
}

.tip {
	background-color: #333;
	border: 1px solid black;
	display: inline-block;
	border-radius: 50%;
	margin-right: 2px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.tip_checked {
	background-color: rgb(3, 130, 251);
}

* {
	-webkit-user-select: none;
	color: #333;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 20px;
	font-family: Roboto,arial,sans-serif;
}

h2 {
	font-family: Roboto,arial,sans-serif;
	line-height: 17px;
}

h3 {
	font-size: 12px;
	font-style: italic;
}

.stat {
	width: 25%;
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	float: left;
	font-size: 14px;
	word-wrap: break-word;
}

.channel {
	font-size: 16px;
	font-weight: bold;
}

#under-tooltip {
	position: absolute;
	height: 20px;
	width: 20px;
	top: -27px;
	background-color: darksalmon;
	z-index: 900;
	color: black;
	cursor: none;
	display: none;
}

#under-tooltip:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -19px;
	border: 10px solid transparent;
	border-top: 10px solid darksalmon;
}