caption {
	background-color: rgb(30, 119, 174);
	color: #fff;
	font-size: 25px;
	padding: 15px;
}
.caption {
	background-color: rgb(251, 212, 180);
	color: rgb(192, 0, 0);
}
table {
	background-color: #000;
	padding: 0;
	width: 800px;
	margin: 0 auto;
}
.row_light_yellow {
	background-color: rgb(255, 255, 153);
}
.row_white {
	background-color: rgb(255, 255, 255);
}
.row_light_pink {
	background-color: rgb(251, 212, 180);
}
.row_lighter_pink {
	background-color: rgb(253, 233, 217);
}
.row_light_purple {
	background-color: rgb(204, 192, 217);
}
.row_element {
	text-align: center;	
}